.update-event-button {
  height: 35px;
  width: 80px;
  color: white;
  background-color: rgba(0, 0, 0, 0.24);
  border: solid 1.7px black;
  border-radius: 4px;
  box-shadow: 1px 1px black;
  margin-left: 39vw;
}

.update-event-button:hover {
  background-color: black; /* Green */
  color: white;
}
