.event-page {
  height: 1000px;
  width: 100%;
  background-image: url("https://res.cloudinary.com/dqwy6sxtc/image/upload/v1634024575/poolupp/sven-mieke-jGpuUjgd-0U-unsplash_mppizm.jpg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
  flex-wrap: wrap;
}
.event-page-container{
  /* height: 100vh; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.event-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.322);
  border: 3px solid black;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 258px;
  height: 400px;
  margin: 35px;
  border-radius: 5px;
}

.event {
  color: rgb(194, 192, 192);
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
}

.event-image {
  height: 200px;
  width: 250px;
  margin-left: 4px;
  border-radius: 10px;
}
