#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  background: url("https://res.cloudinary.com/dqwy6sxtc/image/upload/v1633834797/poolupp/pen-tsai-yUpn_S_x5BU-unsplash_qdlgct.jpg") no-repeat 100% 100%;
  position: absolute;
  background-color:white;
}


/* .splash-image {
  height: 1000px;
  width: 100%;

  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
} */
